html, body{
    font-size: 16px;
}

body{
    background: #363D3D;
}
header div{
    margin: 0 auto;
    text-align: center;
}
header div h1{
    color : white;
    font-size: 3rem;
    margin-bottom: 0;
}
header span{
    font-size: 2rem;
    color : #44B2AD;
}

.center-block {
    display: block;
    margin: 0 auto;
}
button{
    background : #42C99D;
    border: none;
}
#game-area{
    margin-top: 15px;
}
#find-game-btn{
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 15px;
}
.shrink{
    height: 0;
}
.invisible{
    visibility: hidden;
}
.winner{
    color : #6DFF96;
}
.loser{
    color : #C94242;
}
.choice-block{
    height: 150px;
}
.disabled-btn{
    opacity: .7;
}

#controls button{
    background: white;
}
input{
    width: 100%;
    max-width: 13em;
    display: block;
    margin : 0 auto;
    font-size: 48px;
    font-size: 3em;
    font-size: 3rem;
}
#again{
    font-size: 2rem;
}

h2, h3{
    text-align: center;
    color : white;
}
#mocha-wrapper{
    background : white;
    top : 0;
    width : 100%;
    left : 0;
}

@media (min-width: 1200px){
    header div h1 {
        font-size: 5em;
    }
}
